Body{
    background-color: aquamarine;
    color:white;
    font-family: "bai jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin:0;
}
button{
    background-color: aquamarine;
    color:antiquewhite
    color: white;
    font-family:"Bai Jamjuree",sans-serif;
}